  
<div class="all">
     <div class="slider">
  <div class="slider-track">
    <div class="slide"> <%= image_tag("bigan.jpg") %> </div>
    <div class="slide">  <%= image_tag("tasya.jpg") %></div>
    <div class="slide"><%= image_tag("batangas.jpg") %></div>
    <div class="slide">  <%= image_tag("sea1.jpg") %></div>
    <div class="slide"><%= image_tag("mypage.jpg") %></div>
   <div class="slide">  <%= image_tag("beach.jpg") %></div>
  </div>
  
</div>

 <div class="haikei">
  <div class="haikei-item">
    <%= link_to new_perfume_path do %>
      <%= image_tag("shindan.jpeg", size: "400x300") %>
      <div class="shindan">診断を始める</div>
    <% end %>
  </div>

  <div class="haikei-item">
    <%= link_to new_tweet_path do %>
      <%= image_tag("halohalo.jpg", size: "400x300") %>
      <div class="shindan">投稿する</div>
    <% end %>
  </div>

  <div class="haikei-item">
    <%= link_to new_tweet_path do %>
      <%= image_tag("mypage.jpg", size: "400x300") %>
      <div class="shindan">マイページへ</div>
    <% end %>
  </div>

  <footer>
      <p>Copyright © フィリピン日和 All Rights Reserved.</p>
    </footer>
</div>