
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿一覧</h2>
<% @user.tweets.each do |t| %>
  <%= t.user.name %>
<%= t.user.profile %>
<% end %>

<%= link_to "Top ページに戻る", tweets_path %>
<h2>あなたへのおすすめ！</h2>
<% @user.perfumes.each do |t| %>
  <% code = "#{t.question1}#{t.question2}#{t.question3}#{t.question4}" %>
  <% if code == "1111" %>
    <h6>バタンガス(Batangas)</h6>
    <p>首都圏から近く、海と山の両方を楽しめる。ダイビングスポットやビーチリゾートが充実し、海鮮料理も豊富。</p>
    <h6>スービック湾</h6>
    <p>元米海軍基地の港町。ショッピングやマリンアクティビティが充実。</p>
  <% elsif code == "1113" %>
    <h6>ライヤビーチ(Laguna Hot Springs)</h6>
    <p>穏やかな波と白砂が広がる人気ビーチ。リゾートホテルも多い。</p>
    <h6>カビテ(Laguna Hot Springs)</h6>
    <p>静かな海辺と歴史的遺産の残る港町。</p>
  <% elsif code == "1121" %>
    <h6>タール火山(Intramuros)</h6>
    <p>湖の中央に浮かぶ小さな火山。絶景スポット。</p>
  <% elsif code == "1122" %>
    <h6>タガイタイ</h6>
    <p>避暑地として人気。火山湖の景色が美しい。</p>
  <% elsif code == "1123" %>
    <h6>アンティポロ</h6>
    <p>丘の上の街で夜景が有名</p>
  <% elsif code == "1131" %>
    <h6>イントラムロス</h6>
    <p>マニラの歴史地区。スペイン植民地時代の建物が残る</p>
  <% elsif code == "1132" %>
    <h6>ビガン</h6>
    <p>世界遺産のスペイン風街並み。</p>
  <% elsif code == "1133" %>
    <h6>サンアグスティン教会</h6>
    <p>フィリピン最古の石造教会で世界遺産。</p>
  <% elsif code == "1211" %>
    <h6>ボラカイ島</h6>
    <p>白い砂浜で有名な世界的ビーチリゾート。</p>
  <% elsif code == "1212" %>
    <h6>エルニド</h6>
    <p>パラワン島の絶景ラグーンと透明な海。</p>
  <% elsif code == "1213" %>
    <h6>カミギン島</h6>
    <p>火山と温泉、滝など自然が豊富な島。</p>
  <% elsif code == "1221" %>
    <h6>ボホール島（チョコレートヒルズ）</h6>
    <p>ボホール島のほぼ中心に位置する円錐形の小丘群。</p>
  <% elsif code == "1222" %>
    <h6>サガダ</h6>
    <p>吊るし棺や鍾乳洞探検ができる山間の町。</p>
  <% elsif code == "1223" %>
    <h6>バナウエ棚田</h6>
    <p>世界遺産に登録された絶景棚田。</p>
  <% elsif code == "1231" %>
    <h6>セブ市</h6>
    <p>歴史とビーチが融合した観光都市。</p>
  <% elsif code == "1232" %>
    <h6>イロイロ</h6>
    <p>古い教会とグルメの街。</p>
  <% elsif code == "1233" %>
    <h6>サンボアンガ</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2111" %>
    <h6>アニラオ（ダイビング）</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2112" %>
    <h6>スービック・ジェットスキー</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2113" %>
    <h6>ナスグブ</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2121" %>
    <h6>ピンタトゥボ火山</h6>
    <p>火口湖までのトレッキングが人気。</p>
  <% elsif code == "2122" %>
    <h6>マキリン山</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2123" %>
    <h6>シエラマドレ山脈</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2131" %>
    <h6>マニラ博物館</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2132" %>
    <h6>イントラムロス</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2133" %>
    <h6>キアポ市場</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2211" %>
    <h6>セブ島</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2212" %>
    <h6>シャルガオ島</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2213" %>
    <h6>モアルボアル</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2221" %>
    <h6>マヨン火山</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2222" %>
    <h6>アポ山</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2223" %>
    <h6>カガヤン渓谷</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2231" %>
    <h6>バナウエ棚田＋サガダトレッキング</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2232" %>
    <h6>コロン／プエルト・プリンセサ</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% elsif code == "2233" %>
    <h6>ボホール島（ドゥマゲテ・サガダ含む）</h6>
    <p>スペイン風建築とピンクビーチが有名。</p>
  <% end %>
<% end %>





















